@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/roboto-slab-v7-latin-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "Monserrat";
    src: url("../fonts/montserrat-v12-latin-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "Monserrat";
    src: url("../fonts/montserrat-v12-latin-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: "Wisdom Script";
    src: url("../fonts/WisdomScriptAJ.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-v18-latin-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


html {
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body{
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    
}
.wrapper{
    margin: auto;
    padding-top: 50px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
  }
.page-header{
    margin-bottom: 108px;
}
.logo{
    text-decoration: none;
    font-family: "Wisdom Script", sans-serif;
    font-size: 26px;
    line-height: 41px;
    font-weight: 400;
    color: #fed136;
}
.navigation{
    display: flex;
    flex-basis: 940px;
    justify-content: space-between;
    align-items: center;
}
.navigation-list{
    display: flex;
    flex-basis: 485px;
    justify-content: space-between;
    list-style: none;
    
}
.navigation-list-link{
    font-weight: 400;
    line-height: 41px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

/* SERVICES */

.services{
    margin-bottom: 120px;
}

.name{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 75px;
    text-align: center;
}
.sub-name{
    font-size: 16px;
    font-family: "Droid Serif";
    font-style: italic;
    line-height: 1.2;
    color: #777777;
    text-align: center;
    margin-bottom: 74px;
}
.services-title{
    color: #222222;
}

.Contact-title{
    color: #ffffff;
}
.services-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.services-list-title{
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    line-height: 75px;
      
}
.services-list-title-description{
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    line-height: 1.2;      
}
.services-list-item{
    max-width: 290px;
    flex-basis: 290px;
}
.services-list-item::before{
    content: '';
    display: block;
    border: 3px solid  #fed136;
    border-radius: 50%;
    margin-bottom: 34px;
    height: 72px;
    width: 72px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.basket::before{
    background-image: url("../img/Icon-Basket.png");
}
.laptop::before{
    background-image: url("../img/Icon-laptop.png");
}
.lock::before{
    background-image: url("../img/Icon-Locked.png");
}

/* Contact  FORM */
.Contact{
    min-height: 678px;
    background-color: #222222;
    background-image: url(../img/Map-Image.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    padding-top: 100px;
    line-height: 1.2;
    font-weight: 700;
}

.Contact-title-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contact-data-form{
    width: 457px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.Contact-data-form-item input{
    width: 100%;
    height: 50px;
    padding: 16px 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    border: none; 
    border-radius: 3px;
}
.Contact-title-form textarea{
    resize: none;
    width: 457px;
    height: 100%;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 20px;
    border: none; 
    border-radius: 3px;
}
.Contact-button{
    min-width: 240px;
    height: 68px;
    background-color: #fed136;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.Contact-data-form-item input:focus[type='email']:valid,
.Contact-data-form-item input:focus[type='text']:valid,
textarea:focus:valid 
 {
  outline: 2px solid green;

}

.Contact-data-form-item input:focus[type='email']:invalid,
.Contact-data-form-item input:focus[type='text']:invalid,
textarea:focus:invalid {
  outline: 2px solid red;
}

.Contact-data-form-item input::placeholder,
textarea::placeholder 
{
  color: #bbbbbb;
  text-transform: uppercase;
  font-weight: 700;
}


  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}