*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #f1e0cd;
    width: 1000px;
    margin: auto;
    
}
.menu-item{
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 130px;
    padding-left: 70px;
    text-align: center;
}
.menu-list{
    float: left;
    padding-top: 50px;
    margin-right: 30px;
    list-style: none;
}
.menu-list:last-child {
    margin-right: 0px;
}
.menu-link{
    display: block;
    width: 110px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0E1116;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    
}
.menu-link:hover{
    color: #db1572;
    text-decoration-line: underline;
}