*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #555252;
}
.wrapper{
    max-width: 1600px;
    margin: auto;
}
.page-header{
    max-width: 1140px;
    margin: auto;
    display: block;
    background-color: #ffffff;
    padding-top: 37px;
    margin-bottom: 110px;
}

.menu{
    position: relative;
    max-width: 100%;
}

.logo{
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #555252;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

.logo:first-letter{
    font-weight: 900;
    color: #1abc9c;
}

.menu-item{
    display: block;
    position: absolute;
    right: 0;
    text-align: center;
    padding: 8px 0;
}

.menu-list{
    display:inline-block;
    list-style: none;
    margin-right: 28px
}

.menu-list:last-child {
    margin-right: 0;
}

.menu-link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    line-height: 11px;
    font-weight: 700;
    text-align: center;
}

.menu-link:hover{
    color: #87dbcb;
}

/* SLIDE */
.slide-image{
    max-width: 100%;
    height: auto;
}



/* collection */
.collection-img{
    max-width: 100%;
    height: auto;
}