.content-bottom{
    display: inline-block;
    width: 690px;
    margin-left: 60px;
    padding-right: 40px;
}

.sidebar-bottom{
    display: inline-block;
    width: 210px;
    margin-right: 60px;
    vertical-align: top;
}
.bottom{

}
h3{
    font-family: 'Pathway Gothic One';
    color: #263555;
    font-size: 20px;
    text-align: center;
    padding-bottom: 23px;
}
.block{
    display: inline-block;
    background-color: #fcfafa;
    padding:25px 20px 25px 24px ;
    margin-bottom: 35px; 
    border: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}
.block::before {
    content: '\201c';
}
.block::after{
    content: "\201d"
}
.footer>li:before{
    content:  '\2192' ;
    color: #38afe5;
    margin-right: 14px;
}
.footer {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #404b65;
    margin: 35px 0 0 0;
    display: inline-block;
    width: 250px;
}
.footer>li{
    margin: 0;
    padding: 0 0 27px;
    display: inline-block;
    
    
}
.four{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}