*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #555252;
}
.wrapper{
    max-width: 1170px;
    margin: auto;
}
.page-header{
    display: block;
    background-color: #ffffff;
    padding-top: 37px;
    margin-bottom: 120px;
}
.logo{
    display: block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #555252;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}
.logo:first-letter{
    font-weight: 900;
    color: #1abc9c;
}
.menu-item{
    display: block;
    float: right;
    text-align: center;
}
.menu-list{
    display:inline-block;
    list-style: none;
    margin-right: 28px
}

.menu-list:last-child {
    margin-right: 0;
}
.menu-link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    line-height: 11px;
    font-weight: 700;
    text-align: center;
    
}
.menu-link:hover{
    color: #87dbcb;
}
.title{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    color: #515151;
    margin-bottom: 90px;
}
.line::after{
    content: '';
    display: block;
    width: 165px;
    height: 7px;
    background: #1abc9c;
    margin: 40px auto 0;
}
.gallery-list{
    display: block;
}
.gallery-list-item{
    width: 255px;
    display: block;
    float: left;
    margin: 0 50px 50px 0;
}
.gallery-list-item:nth-of-type(4n+4) {
    margin-right: 0;
}
.gallery-list-img{
    display: block;
    background-color: #e9f0fd;
}
.gallery-list-title{
    display: inline-block;
    width:80%;
    background-color: #323232;
    
}
.gallery-list-item:hover> .gallery-list-title{
    background-color: #1abc9c;
}
.gallery-list-item:hover> .gallery-list-price{
    background-color: #7fd9c7;
}
.gallery-list-price{
    display: block;
    width: 20%;
    float: right;
    background-color: #8c8c8c;
}

.gallery-list-title,
.gallery-list-price{
    height: 41px;
    padding-left: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 41px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.news-list{
    display: inline-block;
}
.news-list-item{
    width: 350px;
    display: block;
    float: left;
    margin: 0 50px 80px 0;
}
.news-list-item:nth-of-type(3) {
    margin-right: 0;
}
.news-list-img{
    display: block;
    margin-bottom: 15px;
}
.news-title{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}
.news-title:after{
    content: '';
    display: block;
    width: 135px;
    height: 3px;
    background: #1abc9c;
    margin-bottom: 30px;
    margin-top: 18px;
}
.news-details{
    line-height: 26px;
    margin-bottom: 18px;
}
.button{
    display: block;
    width: 160px;
    height: 50px;
    background-color: #4ec6ab;
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    
}
