*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
}
.wrapper{
    width: 1110px;
    margin: auto;
}
.page-header{
    display: block;
    background-color: #ffffff;
    padding-top: 37px;
    margin-bottom: 110px;
}
.logo{
    display: block;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #555252;
    margin: 0;
}
.logo:first-letter{
    font-weight: 900;
    color: #1abc9c;
}
.menu-item{
    display: inline-block;
    padding-left: 568px;
    text-align: center;
}
.menu-list{
    float: left;
    list-style: none;
    margin-right: 20px
}
.menu-list:last-child {
    margin-right: 0;
}
.menu-link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    line-height: 11px;
    font-weight: 700;
    text-align: center;
    
}
.menu-link:hover{
    color: #87dbcb;
    /* text-decoration-line: underline; */
}
.title{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    color: #515151;
}

/* font-family: 'Roboto', sans-serif; */