$primary-styles: #999999;
$secondary-styles: #ffffff;
$hover-color: #fce38a;
$line-color: #f38181;
$main-color: #333333;
$linear-gradient: linear-gradient (to top,rgba(238, 215, 135, 0.9), rgba(239, 138, 138, 0.9));
$substrate-color: #95e1d3;